
 <nav id="sidebar">
    <div class="sidebar_blog_1">
       <div class="sidebar-header">
          <div class="logo_section">
             <a routerLink="/home"><img class="logo_icon img-responsive" src="assets/images/logo/logo.png" alt="#" /></a>
          </div>
       </div>
       <div class="sidebar_user_info">
          <div class="icon_setting"></div>
          <div class="user_profle_side">
             <div class="user_img"><img class="img-responsive" src="assets/images/logo/logo.png" alt="#" /></div>
             <div class="user_info">
             
                <p><span class="online_animation"></span> Online</p>
             </div>
          </div>
       </div>
    </div>
    <div class="sidebar_blog_2">
       
       <ul class="list-unstyled components">
         <li>
            <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span>Paramétrage</span></a>
            <ul class="collapse list-unstyled" id="element">
               <li><a routerLink="/home/parametrage/gestion-vehicules">> <span>Gestion des véhicules</span></a></li>
               <li><a routerLink="/home/parametrage/gestion-cdc">> <span>Gestion CDC</span></a></li>
               <li><a routerLink="/home/parametrage/gestion-famille-ecu">> <span>Gestion des Familles/Ecus</span></a></li>
               <li><a routerLink="/home/parametrage/gestion-adaptateurs">> <span>Gestion des Adaptateurs</span></a></li>
            </ul>
         </li>


          <li class="active">
             <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-dashboard yellow_color"></i> <span>Gestion Des Développements</span></a>
             <ul class="collapse list-unstyled" id="dashboard">
               
                <li><a routerLink="/home/creer-consulter">> <span>Créer Consulter </span></a></li>
                <li>
                   <a routerLink="/home/essai">> <span>essai</span></a>
                </li>
                <li>
                  <a >> <span>Ajout/Modification/Consultation</span></a>
               </li>
               <li><a >> <span>Duplication</span></a></li>
               <li><a >> <span>Verification</span></a></li>
               <li><a >> <span>Action par lots</span></a></li>
             </ul>
          </li>
         <li>
            <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Suivi</span></a>
            <ul class="collapse list-unstyled" id="apps">
               <li><a href="email.html">> <span>Intégration Dévs</span></a></li>
               <li><a href="calendar.html">> <span>Etat des validations</span></a></li>
               <li><a href="media_gallery.html">> <span>Signature CDC</span></a></li>
            </ul>
         </li>

         <li class="active">
            <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Admin</span></a>
            <ul class="collapse list-unstyled" id="additional_page">
               <li>
                  <a href="profile.html">> <span>Gestion de profil</span></a>
               </li>
               <li>
                  <a href="project.html">> <span>Gestion des versions</span></a>
               </li>
               <li>
                  <a href="login.html">> <span>Report actions</span></a>
               </li>
              
            </ul>
         </li>
      
          
          
       </ul>
    </div>
 </nav>