<div class="full_container">
    <div class="container">
       <div class="center verticle_center full_height">
          <div class="login_section">
             <div class="logo_login">
                <div class="center">
                   <img width="210" src="assets/images/logo/logo.png" alt="#" />
                </div>
             </div>
             <div class="login_form">
                
                  <form [formGroup]="forgotpasswordForm" (submit)="OnSubmit()">
                   <fieldset>
                     <div class="field">
                         <label class="label_field">Email Address</label>
                         <input type="email" [formControlName]="'email'" placeholder="E-mail" />
                         <span *ngIf="forgotpasswordForm.controls.email.hasError('pattern')"  class="forgot" >
                           L'adresse email doit se terminer par @actia-engineering.tn
                         </span>
                        </div>
                      
                      <div class="field margin_0">
                         <label class="label_field hidden">hidden label</label>
                         <button type="submit" class="main_bt" >Envoi moi un mail de verification</button>
                     </div>
                     <div class="field margin_0">
                        <label class="label_field hidden">hidden label</label>
                        <a class="forgot" routerLink="/login">Réesayer</a>
                        
                    </div>
                   </fieldset>
                </form>
             </div>
          </div>
       </div>
    </div>
 </div>
