<div class="modal-header">
    <h4 class="modal-title">Modifier Une véhicule </h4>
    
      
   
  </div>
  <div class="modal-body">
    <label for="nom">Nom :</label>
      <input type="text">
      <label for="interne">Nom interne :</label>
      <input type="text" >
      <label for="marque">Marque :</label>
      <select >
        <option value="audi">Audi</option>
        <option value="bmw">BMW</option>
        <option value="mercedes">Mercedes</option>
      </select>

      <label for="groupe">Groupe de marque :</label>
      <select >
        <option value="premium">Premium</option>
        <option value="sport">Sport</option>
        <option value="luxury">Luxury</option>
      </select>

      <label for="code">Code :</label>
      <input type="text">

      

     

      <label for="message">Message :</label>
      <textarea placeholder="Saisissez votre message ici"></textarea>

      <label for="dateDe">Date de :</label>
      <input type="text" >

      <label for="dateA">Date à :</label>
      <input type="text" >

      <label>Options :</label>
      <div>
        <input type="radio" >
        <label for="option1">Test Global</label>
      </div>
      <div>
        <input type="radio">
        <label for="option2">Seulement Electrique</label>
      </div>
      <div>
        <input type="radio"value="true">
        <label for="option3">Avertissement Electrique</label>
      </div>
      <div class="modal-footer">
        <input class="btn btn-secondary" value="valider">
      </div>
   
  </div>